@page "/"
@using ApiDuelMonster.Data
@using System.Text.Json

<PageTitle>Home</PageTitle>

<h1>API de carte Duel Monsters</h1>

@if(api.CurrentCarte != null)
{
	<p>ID : @api.CurrentCarte.Id</p>
	<p>Name : @api.CurrentCarte.Name</p>
	<p>Description : @api.CurrentCarte.Desc</p>
	<p><img src="@api.CurrentCarte.Image" alt="Carte" /></p>

}


<button @onclick="GetCarte">Check</button>


@code
{
	CardApi api = new CardApi();


	private void GetCarte()
	{
		api.GetCarte();
	}


	
}
